apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
    labels:
      app: web
    name: web
    namespace: tikiti-dev
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: web
    template:
      metadata:
        labels:
          app: web
      spec:
        containers:
        - image: enterpriseautomation/tikiti-web:dev
          imagePullPolicy: Always
          name: web
          ports:
          - containerPort: 3000
            name: http
            protocol: TCP
        restartPolicy: Always
- apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    name: tikiti-web
    namespace: tikiti-dev
  spec:
    rules:
    - host: dev.tikititravel.co.uk
      http:
        paths:
        - backend:
            serviceName: web
            servicePort: 80
    tls:
    - hosts:
      - dev.tikititravel.co.uk
      secretName: tikiti-dev-tls-cert
- apiVersion: v1
  kind: Service
  metadata:
    name: web
    namespace: tikiti-dev
  spec:
    ports:
    - name: https
      port: 80
      protocol: TCP
      targetPort: 80
    selector:
      app: web
    type: ClusterIP
kind: List
