html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar{
  height: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  color: #367e95 !important ;
  /* border: 2px solid #367e95;
font-weight: bold;
  border-radius: 10px; */
}
.nav-link:hover {
  text-decoration: underline !important;
}
.video-background-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.bg-vid, .content-container{
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
}

.content-container{
  background: #00000057;
  color: white;
  padding: 10px;
  padding-top: 170px;
}


.content-container > .button{
  display: inline-block;
  border: 2px solid white;
  color: white;
  /* background: blue; */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
 
}

.nav-item {
  margin: 0 10px !important ;
  
}

.navbar-collapse {
  justify-content: flex-end !important;
}

.bg-light {
  background: white !important;
}

nav {
  position: fixed !important;
z-index: 100 !important;
left: 0;
right: 0;
top: 0;
}

.md-text{

}

.text-container{
  text-align: center;
}

.head-row{
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Todes";
}

.paragraph{
  text-align: center;
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px){
  .paragraph {
      font-size: 18px;
      line-height: 2.75rem;
  }

  .head-row{
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Todes";
  }
}




