@font-face {
  font-family: "GillSans";
  font-weight: normal;
  src: url("/fonts/GillSans2/Gill-Sans.ttf") format("opentype");
}
@font-face {
  font-family: "GillSans";
  font-weight: bold;
  src: url("/fonts/GillSans2/Gill-Sans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Todes";
  font-weight: bold;
  src: url("/fonts/Todes/Todes-Regular.ttf") format("opentype");
}
body {
  background: #F1F1F1;
}

.inspiration-title{
  padding: "10px";
   position: "absolute";
    z-index: 1;
     color: "white";
      font-weight: "bold";
       font-family: "GillSans";
        font-size: 30px;
}

.type-images{
  margin-bottom: 100px;
}

.navbar{
  height: 100px;
}

.navbar-brand{
  cursor: pointer;
}

.travel-detail{
  padding: 10px 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px -5px #0000006b;
  position: relative;
}

.travel-detail > .title{
  color: grey;
  font-family: "Todes";
  font-size: 13px;
}

.travel-detail > .value{
  font-weight: bold;
  font-size: 20px;
  font-family: "GillSans";
}

.travel-detail > .icon{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 18px;
  opacity: 0.7;

}


.travel-details-container{
 margin-top: -20px;
}

.banner-text-container{
  max-width: 1366px;
  margin: 0 auto; 
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  padding-bottom: 50px;
}


.banner-text-container > .banner-title {
  color: white;
  line-height: 60px;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 0 0 6px #00000036;
}
.banner-text-container > .banner-slogan {
  color: white;
  /* font-weight: bold; */
  font-size: 30px;
  text-shadow: 0 0 6px #00000036;
}
  
.nav-menu-container{
  position:fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #166377;
  color: white;
  padding: 20px 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.max-width{
  max-width: 1366px;
}

.nav-link {
  color: #367e95 !important ;
  /* border: 2px solid #367e95;
font-weight: bold;
  border-radius: 10px; */
}


.nav-link.cta {
  background: #367e95 !important ;
  padding: 8px 20px 3px 20px!important;
  color: white !important;

}

.nav-link.cta:hover {
  text-decoration: none !important;
}

/* destination page */


.container-contain{
  max-width: 1336px;
  margin: 0 auto;
  position: relative;

}

.destination-name{
  font-size: 60px;
  font-family: "Todes";
  padding-top: 60px;
}

.destination-slogan{
  font-family: "Todes";
  font-size: 25px;
}

.destination-info{
  font-size: 16px;
  font-family: "GillSans";
}

.flex{
  display: inline-flex;
}

.info-sub{
   font-size: 20px;
   font-family: "GillSans";
}

.info-answer{
 /* padding-left: 10px;
 
 margin-bottom: 10px; */
 font-family: "Todes";
 margin-top: 30px;
 font-size: 18px;
}

.info-title{
  font-size: 25px;
  text-decoration: underline ;
  font-family: "Todes";
}

.destination-names{
  text-align: center;
}


.banner{
  position: relative;
  height:500px;
  margin-top: 95px;
    background-size: cover;
    background-position: center;
}

.gap{
  margin-bottom: 50px;
}


/* destination page */


.nav-link:hover {
  text-decoration: underline !important;
}
.video-background-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.bg-vid, .content-container{
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
}

/* this class should only be used to constrain the content to a set width */
.content-container{
  background: #00000057;
  color: white;
  padding: 10px;
  padding-top: 170px;
  margin-left:280px;
}


.content-container > .button{
  display: inline-block;
  border: 2px solid white;
  color: white;
  /* background: blue; */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
 
}

.nav-item {
  margin: 0 10px !important ;
  font-family: 'GillSans';
  
}

.navbar-collapse {
  justify-content: flex-end !important;
}

.bg-light {
  background: white !important;
}

nav {
  position: fixed !important;
z-index: 100 !important;
left: 0;
right: 0;
top: 0;
}

/* .navbar-nav{
  margin-right: 250px;
} */


.text-container{
  text-align: center;
  width: 100vw;
}

.head-row{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Todes";
  
}

.paragraph{
  color: grey;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: "Todes";
  padding-left: 300px;
  padding-right: 300px;

}

.images-container{
  margin-top: "20px";
   position: "relative";
}

.images{
  opacity: 80%;
  cursor: pointer;
}

.images:hover{
  opacity: 100%;
}
/* 
.navbar-brand{
  padding-left:250px;
} */



/* .dropdownbox{
  background-color:"#1c1c1c";
   height:300px;
    position:fixed;
    top:100;
    width:1200px;
    left:250;
     z-index:1 color:"white"
} */

.region-title{
  font-size: 20px;
  margin-bottom: 10px;
  /* padding: 15px; */
  font-family: "Todes";
}

.region-names{

  font-size: 15px;
  color: #b4cdd6;
}



.region-names > a{
  margin-bottom: 10px;
  display: block;
}
.region-names > a:hover{
  color:white;
}
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}



.footer-dark .item.text {
  margin-bottom:36px;
}


.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}



.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.font{
  color:white;
  padding-left:230px;
  height: 20px;
}




@media only screen and (max-width: 600px){

  /* this class should only be used to constrain the content to a set width */
.content-container{
  margin-left: 0px;
}
  
}

@media only screen and (max-width: 992px){
  .paragraph {
      font-size: 20px;
      line-height: 2.75rem;
      padding-left: 0px;
      padding-right: 0px;

  }
  .banner{
    margin-top: 0px;
  }

  .destination-name{
    font-size: 40px;
  }

  .destination-slogan{
    font-size: 15px;
  }

  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }

  

  .font{
    color:white;
    padding-left:20px;
  }

  .head-row{
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Todes";
  }

  .dropdownbox{
  width: 400px;
  height: 500px;
  overflow: auto;
  }


  .navbar-brand{
  padding-left: 0px;
  }

  
  
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }

  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}





.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}



.footer-dark .item.text {
  margin-bottom:36px;
}


.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}



.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
