@font-face {
  font-family: "GillSans";
  font-weight: bold;
  src: url("/fonts/GillSans2/Gill-Sans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Todes";
  font-weight: bold;
  src: url("/fonts/Todes/Todes-Regular.ttf") format("opentype");
}


.navbar{
  height: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.nav-link {
  color: #367e95 !important ;
  /* border: 2px solid #367e95;
font-weight: bold;
  border-radius: 10px; */
}
.nav-link:hover {
  text-decoration: underline !important;
}
.video-background-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.bg-vid, .content-container{
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
}

.content-container{
  background: #00000057;
  color: white;
  padding: 10px;
  padding-top: 170px;
}


.content-container > .button{
  display: inline-block;
  border: 2px solid white;
  color: white;
  /* background: blue; */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
 
}

.nav-item {
  margin: 0 10px !important ;
  font-family: 'GillSans';
  
}

.navbar-collapse {
  justify-content: flex-end !important;
}

.bg-light {
  background: white !important;
}

nav {
  position: fixed !important;
z-index: 100 !important;
left: 0;
right: 0;
top: 0;
}

.navbar-nav{
  margin-right: 250px;
}


.text-container{
  text-align: center;
  width: 100vw;
}

.head-row{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Todes";
  
}

.paragraph{
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
  font-family: "Todes";
}

.images-container{
  margin-top: "20px";
   position: "relative";
}

.images{
  opacity: 80%;
  cursor: pointer;
}

.images:hover{
  opacity: 100%;
}

.navbar-brand{
  padding-left:250px;
}





@media only screen and (max-width: 992px){
  .paragraph {
      font-size: 20px;
      line-height: 2.75rem;
  }

  .head-row{
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Todes";
  }
  
  .navbar{
    height:75px;
  }

  .navbar-brand{
  padding-left: 0px;
  }
  
}




